<ng-template [ngIf]=!loginCheck>
        <div class="container">
                <!-- Navigation Start Here -->
                <nav class="navbar  navbar-dark bg-transparent navbar-inverse" style="margin-top: 0px; position: absolute; z-index: 3; padding-top: 20px;border-bottom: 1px solid; border-bottom-color: white">
                    <a class="navbar-brand" style="font-size: 155%" routerLink="/">Elite Wallet</a>
                    <a class="navbar-brand"  href="#">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    <a class="navbar-brand"  routerLink="/">Home</a>
                    <a class="navbar-brand"  routerLink="/login">Login</a>
                    <a class="navbar-brand"  routerLink="/register">Register</a>
                  </nav>
                  <!-- Navigation End Here -->
              </div>
    <router-outlet></router-outlet>
</ng-template>

<ng-template [ngIf]=loginCheck>
    <router-outlet></router-outlet>
</ng-template>
