<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-top: 0px; position: absolute; z-index: 1;width: 100%;height: 600px;">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img class="img-fixed" src="../../assets/img/bg5small.jpg" alt="first slide"  style="height: 100%;width: 100%;margin-top: -7%;margin-bottom: -10%; filter: brightness(90%);">
      </div>
    </div>
  </div>

  <div class="container" style="position: absolute; z-index: 1;margin-left: 50px;margin-top: 80px">
      <div class="row ">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
          <div class="card card-signin my-5 bg-transparent text-black" style="background-color:rgba(104, 118, 129,0.5) !important;">
            <div class="card-body ">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin" [formGroup]="loginFormGroup">
                <div class="form-label-group">
                  <input formControlName="emailusername" type="email" id="inputEmail" class="form-control" placeholder="Username or Email" required autofocus>
                  <label for="inputEmail">Username or Email</label>
                </div>
  
                <div class="form-label-group">
                  <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>
                <h5 style="color: red">{{message}}</h5>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button (click)="submitLogin()" [disabled]="!loginFormGroup.valid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>