<div class="container" style="margin-left: 22%;padding-right: 20%;margin-top: -45%">
    <div class="jumbotron">
        <div class="row w-100">
            <div class="col-md-3">
                <div class="card border-info mx-sm-1 p-3">
                    <div class="text-info text-center mt-3"><h4>IDR</h4></div>
                    <div class="text-info text-center mt-2"><h1>{{idr}}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-success mx-sm-1 p-3">
                    <div class="text-success text-center mt-3"><h4>USD</h4></div>
                    <div class="text-success text-center mt-2"><h1>{{usd}}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-danger mx-sm-1 p-3">
                    <div class="text-danger text-center mt-3"><h4>AAPL</h4></div>
                    <div class="text-danger text-center mt-2"><h1>{{aapl}}</h1></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card border-warning mx-sm-1 p-3">
                    <div class="text-warning text-center mt-3"><h4>ORCL</h4></div>
                    <div class="text-warning text-center mt-2"><h1>{{orcl}}</h1></div>
                </div>
            </div>
        </div>
    </div>
</div>